body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #222;
	color: white;
	padding: 1em;
	text-align: center;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em;
}

.ticket-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2em;
}

.ticket-container button {
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-bottom: 10px;
	cursor: pointer;
}

.timer-container {
	font-size: 2em;
	margin-bottom: 2em;
}

.winner-container {
	margin-top: 2em;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	margin-bottom: 10px;
}
