body {
  background-color: black;
  color: gold;
  font-weight: bold;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}

.logo {
  font-size: 36px;
  margin-bottom: 20px;
}

button {
  background-color: gold;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.ticketCounter {
  font-size: 24px;
  margin-bottom: 20px;
}

.timer {
  font-size: 24px;
  margin-bottom: 20px;
}

.winnerList {
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 5px;
}
