body {
	background-color: black;
	color: gold;
	text-align: center;
}

#header {
	padding-top: 30px;
}

h1 {
	font-size: 50px;
	font-weight: bold;
}

button {
	background-color: gold;
	color: black;
	padding: 10px;
	border: none;
	font-size: 20px;
	margin-right: 20px;
	cursor: pointer;
}

#add-tickets {
	margin-top: 30px;
}

#total-tickets {
	margin-top: 30px;
	font-size: 25px;
}

#timer {
	margin-top: 30px;
	font-size: 25px;
}

#winner {
	margin-top: 20px;
	font-size: 20px;
}

#winningTicket {
	font-size: 50px;
	font-weight: bold;
}

#past-winners {
	margin-top: 30px;
	font-size: 25px;
}

#winnerList {
	margin-top: 10px;
	padding-left: 0;
	list-style: none;
}

#winnerList li {
	margin-top: 10px;
	font-weight: bold;
}
