body {
  background-color: black;
  color: gold;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  font-size: 3em;
  margin-bottom: 0.5em;
  text-align: center;
}

.ticketBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid gold;
  padding: 1em;
  margin-bottom: 1em;
}

.ticketBox label {
  margin-right: 0.5em;
}

.ticketBox input {
  width: 3em;
}

.ticketPool {
  margin-top: 0.5em;
}

.countdownBox {
  font-size: 1.5em;
  text-align: center;
  border: 2px solid gold;
  padding: 1em;
}
